* {
    margin: 0;
    padding: 0;
}

div {
    width: 300px;
    border: 15px solid crimson;
    padding: 50px;
    margin: 50px;
    background-blend-mode: darken;
}

.box1 {
    margin-top: 60px;
    border: 10px solid black;
}